test.conf
*.pb.cc
*.pb.h
*.o
congratbot
query_profile

# automake + build system
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
configure.in
depcomp
install-sh
Makefile
Makefile.in
missing
stamp-h1
autom4te.cache
.deps
